.collection {
  &_item {
    height: 350px;
    margin-bottom: 15px;
    position: relative;
    .custom-button {
      width: 75%;
      position: absolute;
      top: 60%;
      left: 15%;
      opacity: 0.7;
      display: none;
    }
    .image {
      height: 90%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .infos {
      height: 10%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        font-size: 18px;
      }
      .name {
        width: 90%;
      }
    }

    &:hover {
      .image {
        opacity: 0.85;
      }
      .custom-button {
        opacity: 1;
        display: inline-block;
      }
    }
  }
}
